/**Variables**/
$fondo_gris: #f7f7f7;
$color_texto: #555;
$alto_maximo: 50em;
$color_paginate_low: rgba(23,162,184,0.7);
$color_paginate: rgb(23,162,184);

/*Contenido*/
body{
	background-color:$fondo_gris;
}
input[type="text"], input[type="password"], input[type="email"], input[type=""]{
	background-color: $fondo_gris;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type=""]:focus{
	background-color: $fondo_gris;
	border-color: rgba(0,0,0,0.2);
	box-shadow: 0px 0px 9px rgba(0,0,0,.35);

}

label, td, th {
	color:$color_texto;
}

.width-max{
	height: $alto_maximo;
}

.btn-rounded{
	border-radius:20px;
	min-width: 82px;
}

.border-vertical{
	border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/*Aside*/
.img-profile{
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;

}
.profile-content {
	position:relative;
	display: block;
	height: 200px;
	width:100%;
}
.profile-content > .img-profile {
	position: absolute;
	top:0;
    z-index: 2;
    padding: 10% 20%;
    max-height: 200px;
    width: 100%;

}

.profile-content > .bg-custom {
	position: absolute;
	top:0;
    z-index: 1;
    filter: blur(1px);
    border: 0;
    width:100%;
    max-height: 200px;

}

.input-group-custom{
	height: 50px;
}

.input-group-custom > btn {
	min-width:120px;
}

.input-group-custom > input {
	height: 50px;
}

.pagination-content {
	float: right;
}
.page-item.active .page-link{
	background-color: $color_paginate_low;
	border-color:$color_paginate_low;

}

.pagination-content .page-link{
	color:$color_paginate;
}
.bg-gray{
	background: $fondo_gris;
}
